<!doctype html>
{% load static %}    {% comment %} Loading Static Files {% endcomment %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}{% endblock title %}
  </title>

  {% comment %} CDN Link of Bootstrap {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  {% comment %} CDN Link of Bootstrap Icon {% endcomment %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  {% comment %} Link of Custom Style CSS file {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  {% comment %} Favicon Link  {% endcomment %}
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
</head>

<body>

  {% comment %} Navigation Bar Code starts {% endcomment %}
  <div class="container-fluid px-0 sticky-top">
    <header class="p-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="{% url 'home' %}" class="d-flex align-items-center mb-lg-0 mx-3">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="60" height="60">
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 text-white fs-5">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white fs-5">Category</a></li>
            <li><a href="#" class="nav-link px-2 text-white fs-5">Products</a></li>
            <li><a href="#" class="nav-link px-2 text-white fs-5">Contact</a></li>
            <li><a href="#" class="nav-link px-2 text-white fs-5">About</a></li>
          </ul>

          {% comment %} Container for Session : profile + name {% endcomment %}

          {% if request.session.name %}

          <div class="text-white mx-4">
            <h5> <i class="bi bi-person fs-3"></i> {{request.session.name}} </h5>
          </div>

          {% endif %}

          {% comment %} Container for Cart {% endcomment %}

          {% if request.session.cart|length %}
          <div>
            <a href="{% url 'cart' %}" class="nav-link px-2 text-white mb-2 mb-lg-0 me-4 position-relative">
              <i class="bi bi-cart4 fs-2"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{request.session.cart|length}}
                <span class="visually-hidden">Products in Cart</span>
              </span>
            </a>
          </div>

          {% else %}

          <div>
            <a href="{% url 'cart' %}" class="nav-link px-2 text-white mb-2 mb-lg-0 me-4">
              <i class="bi bi-cart4 fs-2"></i></a>
          </div>

          {% endif %}

          {% comment %} Container for Search {% endcomment %}

          <form class="col-7 col-lg-auto mb-2 mb-lg-0 me-lg-2 me-3" role="search" action="{% url 'home' %}" method="get">
              <div class="input-group">
                  <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search" name="q" value="{{ query }}">
                  <button type="submit" class="input-group-text btn btn-primary"><i class="bi bi-search"></i></button>
              </div>
          </form>
          
          {% comment %} Container for Login, Sign-up, Logout {% endcomment %}

          {% if request.session.name %}

          <div class="text-end mb-2 mb-lg-0 me-lg-2">
            <a href="{% url 'logout' %}" class="btn btn-outline-secondary me-2">Logout <i class="bi bi-power"></i></a>
            <a href="{% url 'order' %}" class="btn btn-outline-primary me-2">My Order</a>
          </div>

          {% else %}

          <div class="text-end mb-2 mb-lg-0 me-lg-2">
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
              data-bs-target="#login">Login</button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#signup">Sign-up</button>
          </div>

          {% endif %}

        </div>
      </div>
    </header>
  </div>
  {% comment %} Navigation Bar Code ends {% endcomment %}

  {% block content %}{% endblock content %}

  {% comment %} Model for Sign up {% endcomment %}

  <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" action="{% url 'sign' %}" method="post">
            {% csrf_token %}
            <div class="col-md-6">
              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="enter your first name"
                required>
            </div>
            <div class="col-md-6">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="enter your last name">
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="enter your email id"
                required>
            </div>
            <div class="col-md-6">
              <label for="pwd" class="form-label">Password</label>
              <input type="password" class="form-control" id="pwd" name="pwd" placeholder="enter your password"
                required>
            </div>
            <div class="col-md-6">
              <label for="mbl" class="form-label">Phone Number</label>
              <input type="number" class="form-control" id="mbl" name="mbl" placeholder="enter your phone number"
                required>
            </div>
            <div class="col-md-6">
              <label for="gender" class="form-label">Gender</label><br>
              <input type="radio" class="form-check-input me-2 ms-4" name="gender" value="Male">Male <br>
              <input type="radio" class="form-check-input me-2 ms-4" name="gender" value="Female">Female
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-outline-primary">Sign in</button>
            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#login"
              class="fw-bolder fs-5 text-center text-decoration-none">i already have an account</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Model for Login {% endcomment %}

  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" action="{% url 'login' %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <div class="row mb-3 mt-2">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" name="emailid" placeholder="enter your email"
                  required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" name="password"
                  placeholder="enter your password" required>
              </div>
            </div>
            <div class="d-grid gap-2 col-5 mx-auto">
              <button type="submit" class="btn btn-outline-primary">Log in</button>
            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#signup"
              class="text-center fw-bolder fs-5 text-decoration-none">create an account</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Toast for Notifications {% endcomment %}

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true">
      
      {% for message in messages %}

        {% if message.tags == 'success' %}

          <div class="toast-header text-light bg-success">
            <strong class="me-auto">{{ message.tags|upper }}</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-success bg-light">
            <p>{{ message }}</p>
          </div>

        {% elif message.tags == 'error' %}

          <div class="toast-header text-light bg-danger">
            <strong class="me-auto">{{ message.tags|upper }}</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-danger">
            <p>{{ message }}</p>
          </div>

        {% else %}

          <div class="toast-header text-light bg-dark">
            <strong class="me-auto">{{ message.tags|upper }}</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-dark">
            <p>{{ message }}</p>
          </div>   

        {% endif %}

      {% endfor %}
    </div>
  </div>

  {% comment %} Footer Code starts {% endcomment %}

  <footer class="py-5 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 fs-4">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-3 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Category</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Products</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary">Copyright © 2023 Shopify. All Rights Reserved.</p>
  </footer>

  {% comment %} Footer Code ends {% endcomment %}

  {% comment %} CDN Link of Bootstrap Script {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  {% comment %} Jquery Code Link {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  {% comment %} Custom Script {% endcomment %}
    <script>
      var toastEl = document.querySelector('.toast');
      var toast = new bootstrap.Toast(toastEl);
      {% if messages %}
          window.addEventListener('load', function () { toast.show();
          });
      {% endif %}

    </script>

</body>
</html>